<h1 class="meal-planner-title">Weekly Meal Planner</h1>

<% @meal_plans_by_date.each do |date, meal_plans| %>
  <h2>Meal Plan for <%= date.present? ? date.strftime("%B %d, %Y") : "Unknown Date" %></h2> <!-- Format: Monday, 26 February 2025 -->
  
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <% @meal_types.each do |meal_type| %>
          <th><%= meal_type %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @days.each do |day| %>
        <tr>
          <td><%= day %></td>
          <% @meal_types.each do |meal_type| %>
            <td>
              <% current_plan = meal_plans.find { |mp| mp.day == day && mp.meal_type == meal_type } %>
              <%= current_plan&.menu&.name || "Not selected" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Edit Meal Plan", edit_meal_plan_path(date.to_s), class: "btn btn-primary" %>
  <hr>
<% end %>
